<section id="about" class="about">
    <div class="container">

      <div class="section-title" data-aos="zoom-out">
        <h2>About</h2>
        <p>ToM @ ACL 2023</p>
      </div>


      <div class="row content" data-aos="fade-up">
        <div class="col-lg-6">
          
          <p> <a href="https://twitter.com/tom_workshop?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @tom_workshop</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> </p>

          <h3>Motivation</h3>
          <p>
            ...
          </p>

          <h3>What is Theory-of-Mind and how it relates to NLP?</h3>

          <p> 
            ...
          </p>

          <h3>Goals</h3>
          <p> 
            ...
          </p>
          
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <br>
          <p>
            Consequently, ...
          </p>

          <p>
            <b>Topics of interests include but not limited to</b>
          </p>
          <ul>
              <li><i class="ri-check-line"></i> <strong>Methods</strong>: ...</li>

              <li><i class="ri-check-line"></i> <strong>Analysis</strong>: ...</li>

              <li><i class="ri-check-line"></i> <strong>Resources</strong>: ... </li> 
              <li><i class="ri-check-line"></i> <strong>Benchmarks</strong>: ... </li>    
            </ul>
            <p>The ToM Workshop will be co-located with <b><a class="green-text" href="https://2023.aclweb.org/">ACL 2023</a></b>!</p>

            
          <!-- <a href="#" class="btn-learn-more">Learn More</a> -->
        </div>
      </div> 
    </div>
  </section><!-- End About Section -->
