<section class="hero is-fullheight has-text-centered has-background-black" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div
                    class="column has-text-warning has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <b>About</b>
                    <p>{{site.author-about}}</p>
                    <br>
                    <b>Personal Hobbies</b>
                    <ul>
                        <li>Beach Swimming</li>
                        <li>Soccer</li>
                        <li>Yoga</li>
                        <li>Camping</li>
                        <li>Bushing Walking</li>
                        <li>Photography</li>
                        <li>Travel</li>
                        <li>Movies</li>
                        <li>Reading</li>
                    </ul>
                    <br>
                    <b>Fun Facts</b>
                    <ul>
                        <li>Even thought I studied IT Engineering bachelor's degree covering software development but I
                            did not fall in love with it until I got to know DevOps.</li>
                        <li>I could read Korean but barely understand it.</li>
                        <li>My closest friend my until I completed my bachelor's degree was a radio.</li>
                    </ul>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/resume"
                                class="button is-rounded is-uppercase has-text-weight-normal is-warning is-outlined">Resume</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/project"
                                class="button is-rounded is-uppercase has-text-weight-normal is-warning is-outlined">Projects</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
