<section id="cfp" class="section">
  <div class="container">
    <div class="section-title" data-aos="zoom-out">
      <h2>Calls</h2>
      <p>Call for papers</p>
    </div>
    <div class="content">
      <p>
        We welcome submissions of full papers as well as work-in-progress and accept submissions of work recently published or currently under review. 
       </p>

       <p>In general, we encourage three types of papers:</p>
       <ul class="is-bordered">
        <li><strong>Empirical paper:</strong> Submissions should focus on presenting original research, case studies or novel implementations in the fields of machine learning, artificial intelligence, natural language processing, and related areas.</li>
        <li><strong>Position paper:</strong> Authors are encouraged to submit papers that discuss critical and thought-provoking topics within the scientific community.</li>
        <li><strong>Thought pieces:</strong> Contributions in this category should provide insights, thought experiments, or discussions pertaining to theoretical or philosophical questions in machine learning and related disciplines. We welcome the papers discussing the relationships between theory-of-mind and language acquisition, large language models, agency, subjectivity, embodiment, AI ethics and safety, social intelligence, artificial intelligence, etc. We also welcome contributions that address related questions or offer new perspectives on existing conversations.</li>
       </ul>

       <b>Potential topics include:</b>
       <ul>
        <li>Leveraging ToM for Machine Learning Applications (e.g., NLP, Robotics, CV)</li>
        <li>Cognitive Science Perspectives of ToM</li>
        <li>ToM for HCI / Human-AI collaboration</li>
        <li>Surveys or replication of existing work</li>
        <li>Social Impacts of ToM</li>
       </ul>


      <h5>Important Dates</h5>
      <ul>
          <li><strong>Submission deadline:</strong> May 26, 2023 </li>
          <li><strong>Notification of acceptance:</strong> June 16, 2023 </li>
          <li><strong>Camera-ready papers due:</strong> June 23, 2023 </li>
          <li><strong>Workshop dates:</strong> July 28/29, 2023 (TBD)</li>
          <li>All deadlines are <a href="https://time.is/Anywhere_on_Earth"><b>AoE</b></a> time.</li>
      </ul>

      <h5>Submission Guidelines</h5>
      <p>The ToM 2023 workshop will use <a href="https://openreview.net/group?id=ICML.cc/2023/Workshop/ToM">OpenReview</a> as the review platform.</p>

      <p>Accepted papers will be presented as posters, and a subset of them will be selected for oral presentation. We plan to organize the ToM workshop at ICML 2023 in a hybrid format. For virtual workshop attendees, we plan to use Zoom for the talks/panel and Gather for posters/socializing. To support the hybrid format, we will hold parallel meet-and-greet sessions online and in-person.</p>

      <p>The paper template and style files can be found at <a href="https://www.overleaf.com/latex/templates/tom-2023-latex-template/qhqwzwhftpgm">here</a> (adapted based on ICML template). The length of paper can be as short as 2 pages or as long as 8 pages (excluding references and appendix). Submissions must follow the template and style and should be properly anonymized. </p>


      <h5>Dual Submission Policy</h5>
      <p>
        We welcome papers that have never been submitted, are currently under review, or recently published. Accepted papers will be published on the workshop homepage, but will not be part of the official proceedings and are to be considered non-archival.
      </p>
    </div>
  </div>
  </section>
