<section id="cfp" class="faq">
    <div class="container">

      <div class="section-title" data-aos="zoom-out">
        <h2>Calls</h2>
        <p>Call for Papers</p>
      </div>

      <h5><b>Important Dates</b></h5>
      <ul>
          <!-- <li>Submission Due Date: <b>February 28, 2022 </b></li> -->
          <li>Submission deadline (never-published work):  </li>
          <li>Notification of Acceptance:  </li>
          <li>Camera-ready papers due: </li>
          <li>Published submission deadline (published at other venues):  </li>
          <li>Workshop Dates: </li>
          <li>All deadlines are <a href="https://time.is/Anywhere_on_Earth"><b>AoE</b></a> time.</li>
      </ul>

      

      <!-- <h4>About Paper Submissions</h4> -->
      

      <h5><b>Submission Instructions</b></h5>
      <!-- <p>We seek submissions of original work as <i>long</i> or <i>short</i> papers, as well as non-archival papers  (same page limit as the ACL main conference). All accepted papers will be presented at the workshop. </p> -->
      <p>We solicit two categories of papers.</p>

      <p>
        <b>Workshop papers:</b> describing new, previously unpublished research in this field.
        The submissions should follow the ICML style guidelines.
        We accept both short (4 pages of content) and long papers (8 pages of content).
        Submissions will be subject to a double-blind review process (i.e. they need to be anonymized).
        Final versions of accepted papers will be allowed 1 additional page of content so that reviewer comments can be taken into account.
      </p>
      
      <p>
        <b>Published papers:</b> papers on topics relevant to the workshop theme, previously published at  ML conferences.
        These papers can be submitted in their original format without hiding the author names.
        Submissions will be reviewed for fit to the workshop topics. 
        <br>
        <!-- <b>Please fill this google form to submit your papers</b>: <a href="https://forms.gle/AToY6HYZ6buydSVv5" target="_blank"> <b> https://forms.gle/AToY6HYZ6buydSVv5 </b> </a> -->
      </p>
        
      In both categories, accepted papers will be:

      <ul>
        <li>can be non-archival</li>
        <li>published on the workshop website</li>
        <li>presented at the workshop as a lightning talk</li>
      </ul>

      

      <p>
        <b>Cross-submission Policy: </b>
        As long as it doesn't conflict with the cross-submission policies of the other venue (e.g., <a href="https://aclrollingreview.org/cfp" target="_blank">the ARR policy</a>), you may submit the paper to ToM as a regular workshop paper. 
        Please feel free to email us if you are not sure about your case!
      </p>
    </div>
  </section>