<section id="cfp" class="faq">
    <div class="container">

      <div class="section-title" data-aos="zoom-out">
        <h2>Calls</h2>
        <p>Call for Papers</p>
      </div>
      <h5><b>Introduction</b></h5>
      <p>
        Theory of Mind (ToM) is the ability to reason about the minds of other agents. 
        The main theme of our workshop is the computational modeling of ToM, with a special focus on the role of natural language in such modeling. 
        Specifically, ToM 2023 pays attention to cognitive foundations and theories of ToM, the acquisition and relationship between language and ToM, leveraging ToM to improve and explain ML models, and using ToM for positive social impact. 
        This workshop intends to promote the community of researchers that are interested in improving the ability of intelligent agents to reason about others' mental states. 
        Our proposed program provides a space to discuss pathways for understanding and applying ToM in psycholinguistics, pragmatics, human value alignment, social good, model explainability, and many other areas of ML, NLP and Cognitive Science. 
          </p>
          <p>
        We welcome submissions of full papers as well as work-in-progress and accept submissions of work recently published or currently under review.  
       </p>
       <b>Potential topics include:</b>
       <ul>
        <li>Leveraging ToM for Machine Learning Applications (e.g., NLP, Robotics, CV)</li>
        <li>Cognitive Science Perspectives of ToM</li>
        <li>ToM for HCI / Human-AI collaboration</li>
        <li>Surveys or replication of existing work</li>
        <li>Social Impacts of ToM</li>
       </ul>


      <h5><b>Important Dates</b></h5>
      <ul>
          <!-- <li>Submission Due Date: <b>February 28, 2022 </b></li> -->
          <!-- <li>Submission deadline (never-published work):  </li> -->
          <li>Submission deadline: May 26, 2023 </li>
          <li>Notification of Acceptance: June 16, 2023 </li>
          <!-- ICML universal acceptance deadline is June 19, 2023 -->
          <li>Camera-ready papers due: June 23, 2023 </li>
          <!-- <li>Published submission deadline (published at other venues):  </li> -->
          <li>Workshop Dates: July 28/29, 2023 (TBD)</li>
          <li>All deadlines are <a href="https://time.is/Anywhere_on_Earth"><b>AoE</b></a> time.</li>
      </ul>

      

      <!-- <h4>About Paper Submissions</h4> -->

      

      <h5><b>Submission Instructions</b></h5>
      <p>The ToM 2023 workshop will use <a href="https://openreview.net/group?id=ICML.cc/2023/Workshop/ToM">OpenReview</a> as the review platform.

        Accepted papers will be presented as posters, and a subset of them will be selected for oral presentation. 
        We plan to organize the ToM workshop at ICML 2023 in a hybrid format. 
        For virtual workshop attendees, we plan to use Zoom for the talks/panel and Gather for posters/socializing. To support the hybrid format, we will hold parallel meet-and-greet sessions online and in-person.
        </p>
        <p>
        
        The paper template and style files can be found at <a href="https://www.overleaf.com/read/jxpbhvzsmkrg">Overleaf</a> (adapted based on ICML template). The length of paper can be as short as 2 pages or as long as 8 pages (excluding references and appendix). Submissions must follow the template and style and should be properly anonymized. 
      </p>
      <!-- <p>We seek submissions of original work as <i>long</i> or <i>short</i> papers, as well as non-archival papers  (same page limit as the ACL main conference). All accepted papers will be presented at the workshop. </p> -->
      <p>In general, we encourage three types of papers:</p>
      
<!-- Empirical paper: Submissions should focus on presenting original research, case studies or novel implementations in the fields of machine learning, artificial intelligence, natural language processing, and related areas. 
Position paper: Authors are encouraged to submit papers that discuss critical and thought-provoking topics within the scientific community.
Thought pieces: Contributions in this category should provide insights, thought experiments, or discussions pertaining to theoretical or philosophical questions in machine learning and related disciplines. We welcome the papers discussing the relationships between theory-of-mind and language acquisition, large language models, agency, subjectivity, embodiment, AI ethics and safety, social intelligence, artificial intelligence, etc. We also welcome contributions that address related questions or offer new perspectives on existing conversations.
 -->
      <p>
        <b>Empirical paper: </b> 
        Submissions should focus on presenting original research, case studies or novel implementations in the fields of machine learning, artificial intelligence, natural language processing, and related areas. 
        <!-- describing new, previously unpublished research in this field.
        The submissions should follow the ICML style guidelines.
        We accept both short (4 pages of content) and long papers (8 pages of content).
        Submissions will be subject to a double-blind review process (i.e. they need to be anonymized).
        Final versions of accepted papers will be allowed 1 additional page of content so that reviewer comments can be taken into account. -->
      </p>
      <p>
        <b>Position paper:</b> 
        Authors are encouraged to submit papers that discuss critical and thought-provoking topics within the scientific community.
      </p>
      <p>
        <!-- <b>Published papers:</b> papers on topics relevant to the workshop theme, previously published at  ML conferences.
        These papers can be submitted in their original format without hiding the author names.
        Submissions will be reviewed for fit to the workshop topics.  -->
        <b>Thought pieces: </b>
        Contributions in this category should provide insights, thought experiments, or discussions pertaining to theoretical or philosophical questions in machine learning and related disciplines. We welcome the papers discussing the relationships between theory-of-mind and language acquisition, large language models, agency, subjectivity, embodiment, AI ethics and safety, social intelligence, artificial intelligence, etc. We also welcome contributions that address related questions or offer new perspectives on existing conversations.
        <!-- <br> -->
        <!-- <b>Please fill this google form to submit your papers</b>: <a href="https://forms.gle/AToY6HYZ6buydSVv5" target="_blank"> <b> https://forms.gle/AToY6HYZ6buydSVv5 </b> </a> -->
      </p>
        
      In each categories, accepted papers will be:

      <ul>
        <li>can be non-archival</li>
        <li>published on the workshop website</li>
        <!-- <li>presented at the workshop as a lightning talk</li> -->
      </ul>

      <p>
        <b>Dual-submission Policy: </b>
        We welcome papers that have never been submitted, are currently under review, or recently published. Accepted papers will be published on the workshop homepage, but will not be part of the official proceedings and are to be considered non-archival.
      </p>
    </div>
  </section>