{% for article in include.articles %}
<h3>
  {% if article.badge %}<img src="https://img.shields.io/badge/-{{ article.badge }}" style="vertical-align: -0.2em;">{% endif %}
  {{ article.title }}
  {% for author in article.authors %}
    {% if forloop.first == false %}・{% else %} / {% endif %}
    {{author.name}}
    {% if author.twitter %}
    <a href="https://twitter.com/{{ author.twitter }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
    {% endif %}
  {% endfor %}
</h3>

<div class="columns is-centered is-multiline">
  {% for img in article.page_img %}
  <div class="column is-one-fifth-desktop is-one-third-tablet is-half-mobile">
    <a href="{{ img.src }}" data-lightbox="{{ article.title }}" data-title="{{ article.title }}">
      <img src="{% if img.thumbnail %}{{ img.thumbnail }}{% else %}{{ img.src }}{% endif %}" alt="{{ img.alt }}" style="width: 90%; max-width: 90%;">
    </a>
  </div>
  {% endfor %}
  <div class="column">
      <blockquote>
          {{ article.desc }}
      </blockquote>
      {% if article.ext_links %}
        {% for link in article.ext_links %}
          {% include button.html
            href=link.href
            blank=true
            class=link.class
            icon_name=link.icon
            text=link.text %}
        {% endfor %}
      {% endif %}
  </div>
</div>
{% endfor %}
