<div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
        MORE
    </a>
    <div class="navbar-dropdown has-background-black is-left">
        {% for sitepage in site.html_pages %}
        {% unless sitepage.url == '/' or sitepage.url == '/404'  or sitepage.url == '/blog' %}
        <a href="{{sitepage.url | absolute_url}}"
            class="navbar-item has-text-grey-light {% if page.url == sitepage.url | absolute_url  %}is-active{% endif %}">
            {{sitepage.title}}
        </a>
        {% endunless %}
        {% endfor %}
        <!-- <hr class="navbar-divider">
    <a class="navbar-item">
      Report an issue
    </a> -->
    </div>
</div>