<nav class="navbar is-black is-fixed-top" role="navigation" aria-label="main navigation" id="navbar">
    <div class="container">

        <!-- logo or branding image on left side -->
        <div class="navbar-brand">
            <a class="navbar-item"
                href="{% if page.layout == 'default' %}{{site.url}}{{site.baseurl}}/#{% else %}{{site.url}}{{site.baseurl}}/{% endif %}">
                <strong>{{site.title}}</strong>
            </a>
            <div class="navbar-burger" data-target="navbar-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <!-- children of navbar-menu must be navbar-start and/or navbar-end -->
        <div class="navbar-menu has-background-black" id="navbar-menu">
            <!-- navbar items | left side -->
            <!-- <div class="navbar-start">
            </div> -->
            <!-- navbar items | right side -->
            <div class="navbar-end">
                <a class="navbar-item {% if page.layout == 'default' %}is-active{% endif %}"
                    href="{% if page.layout == 'default' %}{{site.url}}{{site.baseurl}}/#{% else %}{{site.url}}{{site.baseurl}}/{% endif %}">HOME</a>
                <!-- <a class="navbar-item" href="{{site.url}}{{site.baseurl}}/#about">ABOUT</a>
                <a class="navbar-item" href="{{site.url}}{{site.baseurl}}/#contact">CONTACT</a> -->
                <a class="navbar-item {% if page.layout == 'blog' %}is-active{% endif %}"
                    href="{{site.url}}{{site.baseurl}}/blog">DEV BLOG</a>
                <a class="navbar-item {% if page.layout == 'blog' %}is-active{% endif %}"
                    href="{{site.url}}{{site.baseurl}}/project">PROJECTS</a>
            </div>
        </div>
    </div>
</nav>
