<section class="hero is-fullheight has-text-centered" id="resume">
    <div calss="container">
        <div class="resume-section">
            <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                </i><h3 class="is-size-4 is-uppercase has-text-weight-semibold has-text-black is-marginless"><i class="fa fa-user" aria-hidden="true"></i> About me </h3>
                <hr>
            </div>
            <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                Born in Szczecin. I love Star Wars universum. Preferable remote work. All contact information -> please see in CONTACT tab. <br>
                 For phone number please ask by email or DM me on Linkedin. 
            </div>
        </div>
        <div class="resume-section">
            <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                </i><h3 class="is-size-4 is-uppercase has-text-weight-semibold has-text-black is-marginless"><i class="fa fa-cogs" aria-hidden="true"></i> Skills </h3>
                <hr>
            </div>
            <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                #Java Script #Test Complete #Azure DevOps #Jenkins #Git #IBM RQM #IBM DOORS #Jira #Confluence #Medical Software #Regulatory Affairs #Agile Methodologies #Project Management 
            </div>
        </div>
        <div class="resume-section">
            <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                </i><h3 class="is-size-4 is-uppercase has-text-weight-semibold has-text-black is-marginless"><i class="fa fa-history" aria-hidden="true"></i> Experience </h3>
                <hr>
            </div>
            <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                <div class="job-title">
                    <h3 class="is-size-5 has-text-weight-semibold has-text-black is-marginless"> Demant Szczecin / Senior Test Architect <i>(January 2021 - Present)</i></h3>
                </div>
                <div class ="job-responsibility">
                    <li>Relentless improvement of testing process - heavily involved in defining quality, direction, and effectiveness of TestWare in cooperation with other test managers and other stakeholders.</li>
                    <li> Analyzing code changes and planning the test needs for developed products.</li>
                    <li>In SAFe setup, acting as PO for solution testing team, responsible for product quality (setting priorities/goals and building team backlog). 	Defining and planning test strategies for products.</li>
                    <li>Providing know-how about verification of Fitting Software at various stages of the application life cycle, designing and reviewing test cases delivered by different teams and departments, test automation and exploratory testing (agile software development - SAFe, scrum, kanban).</li>
                </div>
            </div>
            <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                <div class="job-title">
                    <h3 class="is-size-5 has-text-weight-semibold has-text-black is-marginless"> Demant Szczecin / Junior Test Developer and Scrum Master (June 2018 - January 2019)</i></h3>
                </div>
                <div class ="job-responsibility">
                    <li>Acting as Scrum Master for solution team responsible for product quality.</li>
                    <li>Helping in planning and analysing the test need of the product under test.</li>
                    <li>Improving testing process.</li>
                    <li>Verification of Fitting Software at various stages of the application life cycle.</li>
                    <li>Designing test cases.</li>
                    <li>Test Automation (Test Complete, JavaScript, Jenkins).</li>
                    <li>Exploratory testing.</li>
                </div>
            </div>
            <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                <div class="job-title">
                    <h3 class="is-size-5 has-text-weight-semibold has-text-black is-marginless"> Demant Szczecin / Test Developer and Scrum Master (January 2019 - January 2021)</i></h3>
                </div>
                <div class ="job-responsibility">
                    <li>Acting as Scrum Master for solution team responsible for product quality.</li>
                    <li>Verification of Fitting Software at various stages of the application life cycle.</li>
                    <li>Designing test cases.</li>
                    <li>Exploratory testing.</li>
                </div>
            </div>
            <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                <div class="job-title">
                    <h3 class="is-size-5 has-text-weight-semibold has-text-black is-marginless"> Demant Szczecin / Junior Test Developer (February 2018 - June 2018)</i></h3>
                </div>
                <div class ="job-responsibility">
                    <li>Verification of Fitting Software at various stages of the application life cycle.</li>
                    <li>Designing test cases.</li>
                    <li>Exploratory testing.</li>
                </div>
            </div>
            <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                <div class="job-title">
                    <h3 class="is-size-5 has-text-weight-semibold has-text-black is-marginless"> Demant Szczecin / Trainee  (July 2017 - February 2018)</i></h3>
                </div>
                <div class ="job-responsibility">
                    <li>Tester of medical software responsible for manual test cases execution and reporting defects to bug tracking system</li>
                </div>
            </div>
        </div>
        <div class="resume-section">
            <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                </i><h3 class="is-size-4 is-uppercase has-text-weight-semibold has-text-black is-marginless"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Education </h3>
                <hr>
            </div>
            <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                <div class="job-title">
                    <h3 class="is-size-5 has-text-weight-semibold has-text-black is-marginless"> West Pomeranian University of Technology in Szczecin (2014 - 2019)</i></h3>
                </div>
                <div class ="job-responsibility">
                    Bachelor’s degree, Computer Science. Thesis: Analysis of the possibilities of tests automation for Fitting Software
                </div>
            </div>
        </div>
        <div class="resume-section">
            <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                </i><h3 class="is-size-4 is-uppercase has-text-weight-semibold has-text-black is-marginless"><i class="fa fa-id-card" aria-hidden="true"></i> Licenses & certifications </h3>
                <hr>
            </div>
            <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                <div class="job-title">
                    <h3 class="is-size-5 has-text-weight-semibold has-text-black is-marginless"> ISTQB Certified Tester Foundation Level<br></h3>
                </div>
                <div class="year">
                    <i>June 2019</i>
                </div>
                <div class="job-title">
                    <h3 class="is-size-5 has-text-weight-semibold has-text-black is-marginless"> Certified SAFe® 5 Product Owner/Product Manager<br></h3>
                </div>
                <div class="year">
                    <i>July 2021</i>
                </div>
                <div class="job-title">
                    <h3 class="is-size-5 has-text-weight-semibold has-text-black is-marginless"> Certified SAFe® 5 Practitioner<br></h3>
                </div>
                <div class="year">
                    <i>July 2021</i>
                </div>
            </div>
        </div>
    </div>
</section>