<section id="schedule" class="schedule">
    <div class="container">
      <div class="section-title aos-init aos-animate" data-aos="zoom-out">
        <h2>schedule</h2>
        <p>Workshop schedule (TBD)</p>


       <div class="row">

<div class="col-md-6" style="width: 100%">

  <br>
  <span style="font-weight:bold">Please join us on: <br>
  <span style="font-weight:bold">Underline:  <br>
  <span style="font-weight:bold">Zoom:  <br>
  <br>
  <table class="table table-striped">
      <thead colspan="2">
        <tr>
          <th><span style="font-weight:bold">Time</span></th>
          <th><span style="font-weight:bold;background-color:#FFF">Event</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;9:00 - &nbsp;&nbsp;9:10</span></td>
          <td>Opening remarks </td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;9:10 - &nbsp;&nbsp;9:55</span></td>
          <td>Invited Talk | </td>
        </tr>
      </tbody>
      </table>
</div>
</div>
      </div> 
    </div>
  </section>