<section id="schedule" class="section">
    <div class="container">
      <div class="section-title aos-init aos-animate" data-aos="zoom-out">
        <h2>Program</h2>
        <p>Workshop schedule </p>
        <p style="font-size: large;">🚪Room 317 A</p>
       <div class="row">
<div class="col-md-6" style="width: 100%">


  <!-- <br>
  <span style="font-weight:bold">Please join us on: <br>
  <span style="font-weight:bold">Underline:  <br>
  <span style="font-weight:bold">Zoom:  <br>
  <br> -->
  <table class="table table-striped">
      <thead colspan="2">
        <tr>
          <th><span style="font-weight:bold">Time</span></th>
          <th><span style="font-weight:bold;background-color:#FFF">Event</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;8:55 - &nbsp;&nbsp;9:00</span></td>
          <td>Opening remarks </td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;9:00 - &nbsp;&nbsp;9:45</span></td>
          <td>Invited Talk (Maarten Sap) </td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;9:45 - &nbsp;&nbsp;10:15</span></td>
          <td>Oral Presentation #1 </td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;10:15 - &nbsp;&nbsp;10:45</span></td>
          <td>Break / Meet-and-greet </td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;10:45 - &nbsp;&nbsp;11:30</span></td>
          <td>Invited Talk (Noga Zaslavsky) </td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;11:30 - &nbsp;&nbsp;12:15</span></td>
          <td>Invited Talk (Mark Ho) </td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;12:15 - &nbsp;&nbsp;13:30</span></td>
          <td>Lunch / Poster Session / Spotlight </td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;13:30 - &nbsp;&nbsp;14:15</span></td>
          <td>Invited Talk (Jan-Philipp Fränken) </td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;14:15 - &nbsp;&nbsp;14:45</span></td>
          <td>Oral Presentation #2 </td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;14:45 - &nbsp;&nbsp;15:30</span></td>
          <td>Invited Talk (Kevin R. McKee) </td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;15:30 - &nbsp;&nbsp;16:00</span></td>
          <td>Break / Meet-and-greet </td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;16:00 - &nbsp;&nbsp;17:00</span></td>
          <td>Panel discussion (Kevin, Jesse, Bodhisattwa) <a href="https://app.sli.do/event/mZXwiZskTgAGG8Aa6Fnwro">[sli.do link]</a> </td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;17:00 - &nbsp;&nbsp;17:10</span></td>
          <td>Closing remarks / Best paper award</td>
        </tr>
      </tbody>
      </table>
      </div>
      </div>
      </div> 
    </div>
  </section>
