<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body">
    <div class="container">
      <!-- <h1 class="title has-text-white is-uppercase has-text-weight-bold">
        {{site.title}}
      </h1> -->
      <!-- <img
        src="/assets/images/ToM-workshop-logo.svg"
        alt="Theory-of-Mind workshop logo"
        width="50%" /> -->
      <p class="title is-4 has-text-white-bis has-text-weight-medium is-marginless">
        Welcome to the
      </p>
      <p class="title is-1 has-text-white-bis has-text-weight-medium is-marginless">
        Workshop on Theory-of-Mind
      </p>
      <p class="title is-2 has-text-white-bis has-text-weight-medium is-marginless">
        at ICML 2024
      </p>
      <hr>
      <a href="{{site.url}}{{site.baseurl}}/#about"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">Read More</a>
      </a>
    </div>
  </div>
</section>