---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    <section class="hero is-fullheight has-text-centered has-background-black">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1 is-uppercase has-text-weight-bold has-text-warning">
                    {{page.title}}
                </h1>
                <h3 class="is-uppercase has-text-weight-medium is-marginless has-text-warning">
                    {{content}}
                </h3>
                <hr style="background-color: #ffd700">
                <div class="columns is-marginless is-inline-flex-desktop">
                    <a href="{{site.url}}{{site.baseurl}}/"
                        class="button is-warning column is-rounded is-outlined is-uppercase has-text-weight-normal">Home</a>
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
