---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include navbar.html %}
  {% include showcase.html %}
  {% include about.html %}
  <section class="hero is-fullheight" id="activity">
    <div class="hero-body">
      <div class="container has-text-centered project">
        <div class="section">
          <p class="subtitle is-uppercase has-text-weight-semibold">主な活動</p>
          {% include project-card.html activity=site.data.activity %}
        </div>
        <div class="content section">
          <p class="subtitle is-uppercase has-text-weight-semibold">新着情報</p>
          <ul class="has-text-left">
            {% for post in site.posts %}
            <li>
              <a href="{{post.url | absolute_url}}">{{post.title}}</a>　{{post.post-summary}}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="hero is-fullheight has-text-centered">
    <div class="hero-body">
      {% include contact.html %}
    </div>
  </section>
  <!--Footer begins here-->
  {% include footer.html %}
</body>
<script>
  const contentsArr = new Array();
  const heros = document.getElementsByClassName('hero');
  for (let i = 0; i < heros.length; i++) {
      const targetContents = heros[i];
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
      const targetContentsTop = targetContents.getBoundingClientRect().top + scrollTop;
      const targetContentsBottom = targetContentsTop + targetContents.scrollHeight - 1;
      contentsArr[i] = [targetContentsTop, targetContentsBottom];
  }

  window.addEventListener("scroll", function (event) {
    const scrollCenterY = this.scrollY + window.innerHeight / 2;
    const item = document.getElementsByClassName('navbar-item');
    for(let i = 0; i < heros.length; i++) {
      if(contentsArr[i][0] <= scrollCenterY && (contentsArr[i][1] >= scrollCenterY || i === heros.length - 1)) {
        /* console.log(scrollCenterY); */
        item[i + 1].classList.add('is-active');
      }
      else {
        item[i + 1].classList.remove('is-active');
      }
    };
  });
</script>

</html>
